<div class="formulario">

    <div class="form-groud">
        <label>Producto</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-groud">
        <label>Cantidadn</label>
        <input type="text" class="form-control">
    </div>

    <div class="form-group"></div>
    <label>Departamento</label>
    <input type="text" class="desplegable">
    <option value="clubgourmet">Club del Gourmet</option>
    <option value="platospreparados">Club del Gourmet</option>
    <option value="frutasverduras">Frutas y Verduras</option>
    <option value="pescadosmariscos">Pescados y mariscos</option>
    <option value="carnes">Carnes</option>
    <option value="panaderia">Panadería</option>
    <option value="charcuteria">Charcutería</option>
    <option value="lacteos">Lácteos</option>


    <button class="btn btn-block btn-info">Enviar</button>

</div>